backend/supplier-service/src/main/resources/wsdl/supplier.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://smartsupply.com/supplier" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://smartsupply.com/supplier" targetNamespace="http://smartsupply.com/supplier">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://smartsupply.com/supplier">
            <!-- Request -->
            <xsd:element name="GetSupplierRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="supplierId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!-- Response -->
            <xsd:element name="GetSupplierResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string"/>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="status" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetSupplierResponse">
        <wsdl:part element="tns:GetSupplierResponse" name="GetSupplierResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetSupplierRequest">
        <wsdl:part element="tns:GetSupplierRequest" name="GetSupplierRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SupplierPort">
        <wsdl:operation name="GetSupplier">
            <wsdl:input message="tns:GetSupplierRequest" name="GetSupplierRequest">
    </wsdl:input>
            <wsdl:output message="tns:GetSupplierResponse" name="GetSupplierResponse">
    </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SupplierPortSoap11" type="tns:SupplierPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetSupplier">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetSupplierRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetSupplierResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SupplierPortService">
        <wsdl:port binding="tns:SupplierPortSoap11" name="SupplierPortSoap11">
            <soap:address location="http://localhost:8080/soap/supplier"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>