backend/supplier-soap-provider/src/main/xsd/supplier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://smartsupply.com/supplier"
            targetNamespace="http://smartsupply.com/supplier"
            elementFormDefault="qualified">

    <!-- Request -->
    <xsd:element name="GetSupplierRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="supplierId" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Response -->
    <xsd:element name="GetSupplierResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:string"/>
                <xsd:element name="name" type="xsd:string"/>
                <xsd:element name="status" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>